
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	padding-top: 150px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: #86e7b8;
	margin: 0;
	text-align: center;
	font-weight: 400;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	top: 0;
	background-color: white;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
}
header::after {
	content: "";
	display: table;
	clear: both;
}
.logo-top {
	margin: 0;
	float: center;
	width: 50%;
}
.nav-toggle {
	display: none;
}
.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: black;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}
.nav-toggle-label span::before {
	bottom: 7px;
}
.nav-toggle-label span::after {
	top: 7px;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background-color: white;
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 150ms ease-in-out;
}
nav a {
	transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	margin-bottom: 1em;
	margin-left: 1em;
	position: relative;
}
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
}
nav a:hover {
	color: black;
}
nav a::before {
	content: "";
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;

	position: absolute;
	top: 0;
	transition: all ease-in-out 250ms;
}
nav a:hover::before {
	width: 100%;
}
.anchor {
	position: absolute;
	transform: translateY(-15vh);
}
.anchor-property {
	position: absolute;
	transform: translateY(-25vh);
}
div {
	padding: 5px;
	background: linear-gradient(rgba(255, 255, 255, 0.8),
	rgba(255, 255, 255, 0.2));
	backdrop-filter: 2rem;
	border-radius: 1rem;
	max-width: 80%;
	text-align: center;
	height: auto;
	margin: 50px auto 0;
	padding: 5px;
}
p {
}
h1 {
}
h2 {
}
.logo {
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 15px;
}
img {
	max-width: 80%;
	height: auto;
}
.first {
	width: 350px;
	height: auto;
	margin: 50px auto 0;
	padding: 50px;
}
.fname {
	background-image: url(../images/icon_name.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.message {
	background-image: url(../images/icon_name.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 60px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.email {
	background-image: url(../images/email.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.submit {
	background-color: #29a92d;
	border-radius: 5px;
	border: none;
	padding: 10px 25px;
	color: #fff;
	text-shadow: 1px 1px 1px #949494;
}
.submit:hover {
	background-color: #37e13c;
}
@media screen and (min-width: 800px) {
	header {
		top: 0;
	}
	body {
		margin: 0;
		padding-top: 0;
	}
	.anchor {
		position: absolute;
		transform: translateY(-7vh);
	}
	.anchor-property {
		position: absolute;
		transform: translateY(-15vh);
	}
	.logo-top {
		width: 100px;
	}
	.nav-toggle-label {
		display: none;
	}
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
	}
	.logo {
		grid-column: 2 / span 3;
	}
	nav,
	.container {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav a {
		opacity: 1;
		position: relative;
	}
	nav a::before {
		content: "";
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		top: -0.75em;
		left: 0;
		right: 0;
	}
	nav ul {
		display: flex;
		justify-content: flex-end;
	}
	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}
	.property-box {
		margin-top: 150px;
	}
	section {
		/* display: block; */
	}
	.first {
		}
	form {
		width: 100%;

	}
}
