body {
	/* border: 2px black solid; */
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: #f2f5de;
	display: block;
	margin: auto;
	text-align: center;
	font-weight: 400;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	background-color: white;
	/* font-size: 100px; */
}
header::after {
	content: "";
	display: table;
	clear: both;
}
.logo-top {
	float: left;
	width: 10%;
	padding: 10px;
}
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li {
	display: inline-block;
	margin-left: 70px;
	/* margin-left: 0 35px; */
	padding-top: 50px;
	position: relative;
}
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
nav a:hover {
	color: black;
}
nav a::before {
	content: "";
	display: block;
	height: 5px;
	width: 0%;
	background-color: #444;

	position: absolute;
	top: 0;
	transition: all ease-in-out 250ms;
}
nav a:hover::before {
	width: 100%;
}
div {
	padding: 5px;
	background-color: #86e7b8;
	max-width: 80%;
	/* margin: 0 auto; */
	text-align: center;
	/* padding: 2px; */
	/* margin: 5px; */
	height: auto;
	margin: 50px auto 0;
	padding: 5px;
}
p {
	/* border: 2px black solid; */
	/* background-color: azure; */
}
h1 {
	/* border: 2px black solid; */
	/* background-color: coral; */
}
h2 {
	/* border: 2px black solid; */
	/* background-color: chocolate; */
}
.logo {
	/* width: 100%; */
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding: 15px;
	/* border-radius: 50%; */
	/* border: 3px solid red; */
}
img {
	max-width: 80%;
	height: auto;
	/* border-radius: 50%; */
}
.first {
	width: 350px;
	height: auto;
	margin: 50px auto 0;
	padding: 50px;
	/* background-color: #eee; */
	/* color: #333; */
	/* border: 2px solid #c2d6ff; */
	/* border-radius: 40px 0 40px 0; */
}
.fname {
	background-image: url(../images/icon_name.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.message {
	background-image: url(../images/icon_name.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 60px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.email {
	background-image: url(../images/email.png);
	background-repeat: no-repeat;
	background-position: 6px;
	border: 1px solid #dadada;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 310px;
	height: 30px;
	font-size: 14px;
	box-shadow: 0 0 10px;
	-webkit-box-shadow: 0 0 10px;
	/* For I.E */
	-moz-box-shadow: 0 0 10px;
	/* For Mozilla Web Browser */
	border-radius: 5px;
	-webkit-border-radius: 5px;
	/* For I.E */
	-moz-border-radius: 5px;
	/* For Mozilla Web Browser */
}
.submit {
	background-color: #29a92d;
	border-radius: 5px;
	border: none;
	padding: 10px 25px;
	color: #fff;
	text-shadow: 1px 1px 1px #949494;
	/* margin-left: 120px; */
}
.submit:hover {
	background-color: #37e13c;
}
